*.7z
*.gz
*.lock
*.log
*.o
*.pid
*.so
*.so.*
*.swp
*.tar
*.tmp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
._*
._.DS_Store
.fseventsd
.idea
.netrwhist
.nyc_output
.vimsession~
.vscode
/coverage
/lib
Icon
Network Trash Folder
Temporary Items
lib-cov
logs
node_modules
npm-debug.log*
pids
x/
